@import url('https://fonts.googleapis.com/css?family=Jomolhari|Playfair+Display:900&display=swap');

html{
  font-size: 16px;
}

body {
  background-color: rgba(125, 142, 226, 0.79);
  color: rgba(0, 0, 0, 1);
  font-family: 'Jomolhari', serif;
  margin: 20px;
  padding: 1%;
  max-width: 960px;
}

header {
  max-width: 960px;
}
header h1 {
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
  font-weight: 900;
}

h2 h3 h4 {
  color: rgba(0, 0, 0, 1);
  font-family: 'Jomolhari', serif
}

.linav a {
  display: block;
  color: white;
}

.navmi a {
  display: block;
  color: white;
}

#headshot {
  display: block;
  margin: auto auto auto auto;
  width: 45%;
}


section {
  display: block;
  grid-gap: 2px;
}

article {
  display: block;
  grid-gap: 1px;
}

#header {
  grid-area: header;
}

#contact-info{
  grid-area: contact-info;
}

#education {
  grid-area: education;
}

#work-experience {
  grid-area: work-experience;
}

#skills-and-interests{
  grid-area: skills-and-interests;
}

.linav a:hover {
  background-color: rgba(178, 36, 243, 0.48);
}

.navmi a:hover{
  background-color: rgba(178, 36, 243, 0.48);
}

.linav a:visited{
  background-color: pink;
}

.navmi a:visited{
  background-color: pink;
}
