@import url('https://fonts.googleapis.com/css?family=Jomolhari|Playfair+Display:900&display=swap');

html{
  font-size: 16px;
}

body {
  background-color: rgba(125, 142, 226, 0.79);
  color: rgba(0, 0, 0, 1);
  font-family: 'Jomolhari', serif;
  margin: 20px;
  padding: 1%;
  max-width: 960px;
}

header {
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
  font-weight: 900;
}

#headshot {

  margin: 0;
  overflow: hidden;
}

h2 {
  color: rgba(0, 0, 0, 1);
  font-family: 'Jomolhari', serif
}
