@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Special+Elite&display=swap');

body {
  background-image: url('/Images/background.png');
  background-attachment: fixed;
  background-size: cover;
}

#homepage {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 200px 150px;
  grid-row-gap: 10px;
  max-width: 960px;
  grid-template-areas:
  "mainhead mainhead mainhead"
  "nav1 nav1 nav1";
}

#mainhead {
  grid-area: mainhead;
}

#mainhead h1{
  font-family: 'Special Elite', cursive;
  margin-left: 200px;
}

#nav1 {
  grid-area: nav1;
}

#nav1 li{
  display: inline;
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
}

#nav1 li.homehome{
  margin-left: 50px;
}

#nav1 li.mymymy{
  margin-left: 160px;
}

#nav1 li.atp{
  margin-left: 100px;
}
