
body {
  background-image: url('/Images/background.png');
  background-attachment: fixed;
  background-size: cover;
}

homepage {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-auto-rows: repeat(2, 100px);
  grid-gap: 1em;
}
#homepage header{
  grid-column: 1;
  padding: 1em;
}
