
body {
  background-image: url('/Images/background.png');
  background-attachment: fixed;
  background-size: cover;
}

#homepage {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px;
  max-width: 960px;
  grid-template-areas:
  "mainhead mainhead mainhead"
  "nav1 nav1 nav1";
}
